* {
  margin: 0vh;
  padding: 0vh;
}

.container-i {
  width: 100%;
  height: 35vh;
  text-align: center;
  padding-top: 15px;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-image: url("https://images.unsplash.com/photo-1508830524289-0adcbe822b40?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1125&q=80");
  background-size: cover;
}
footer {
  background-color: gray;
  position: absolute;
  bottom: 0px;
  width: 100%;
  color: black;
  text-align: center;
  height: 4.5vh;
  padding: 1vh;
  box-shadow: 1px 1px 1.36px 1.14px #b9b9b9;
}
.para {
  font-size: 20px;
  width: 80%;
  margin: 5vh auto;
}

.heading-content {
  margin-top: 5vh;
  width: 50%;
  padding: 0px 30px;
}
.main-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.box-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  font-size: 3vh;
  margin-right: 1vh;
  background-image: url("https://static.vecteezy.com/system/resources/thumbnails/001/873/040/small_2x/abstract-modern-shape-black-gradient-geometric-stripes-diagonal-background-with-grunge-texture-free-vector.jpg");
  background-size: cover;
  color: white;
  font-weight: bolder;
  width: 38%;
  height: 40vh;
  border: 2px solid black;
}
.heading-content h1 {
  font-size: 4vh;
  font-weight: bolder;
  margin-top: 5vh;
}

.heading-content p {
  font-size: 2.5vh;
  margin-top: 5vh;
}

.heading-content button {
  cursor: pointer;
  margin-top: 4.5vh;
  background-color: black;
  color: white;
  padding: 10px;
  width: 12vw;
}

.box-3 {
  width: 100%;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  background-color: rgb(12, 12, 12);
}

.listing-item li {
  padding: 10px 10px;
  color: white;
}

.listing-item h2 {
  margin: 15px 0px;
  color: white;
}

.nav {
  /* background-color: rgb(30, 31, 30); */
  height: 4.5vh;
  display: flex;
  padding: 1vh;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0.5px 1px 1.36px 1.14px #b9b9b9;
}

.link {
  color: rgb(36, 35, 35);
  font-weight: bold;
  font-size: 2vh;
  text-decoration: none;
  /* color: white; */
}

.link:hover {
  color: rgb(85, 83, 83);
}

@media screen and (max-width: 900px) {
  .heading-content p {
    font-size: 1.5vh;
    margin-top: 1.5vh;
  }
  .heading-content button {
    width: 40vw;
    margin-top: 1.5vh;
  }
}

@media screen and (max-width: 768px) {
  .box-2 {
    margin-top: 1vh;
    width: 50%;
    font-size: 2vh;
  }
  .heading-content {
    width: 40%;
    padding: 0vh;
    margin-top: 0vh;
  }
  .heading-content p {
    font-size: 1.6vh;
    margin-top: 1.5vh;
  }
  .heading-content button {
    width: 30vw;
    margin-top: 1.5vh;
  }
  footer {
    height: 4vh;
    font-size: 15px;
  }
  .heading-content h1 {
    font-size: 3vh;
  }
}
@media screen and (max-width: 500px) {
  footer {
    height: 4vh;
    padding: 0.5vh;
    font-size: 12px;
  }
  .nav {
    height: 10vh;
    flex-direction: column;
    justify-content: space-around;
  }
  .link {
    font-weight: bold;
    font-size: 1.5vh;
    margin: 0vh 0vw;
  }
  .heading-content p {
    font-size: 1vh;
    margin-top: 1.5vh;
  }
  .heading-content h1 {
    font-size: 3vh;
    margin-top: 2.5vh;
  }
}

@media screen and (max-width: 400px) {
  .heading-content h1 {
    font-size: 2vh;
    font-weight: bolder;
    margin-top: 2vh;
  }
  .para {
    font-size: 2vh;
  }
  .box-3 {
    margin-top: 1.8vh;
    padding: 0.5vh;
  }
  .listing-item h2 {
    margin: 1vh 0vh;
  }

  .listing-item li {
    padding: 0.2vh 0.2vh;
    color: white;
    font-size: 1.6vh;
  }
  .nav {
    height: 10vh;
  }
  .link {
    margin: 0vh 0vw;
    font-weight: bold;
    font-size: 1.3vh;
  }
  footer {
    font-size: 10px;
    padding-top: 0.4vh;
  }
}
